.nav_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.nav_menu > div > h4 {
  font-weight: 700;
  margin-bottom: 24px;
}

.nav_menu > div > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_menu > div > ul > li {
  padding-bottom: 16px;
  font-weight: 600;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nav_menu {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .nav_menu {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
