.search {
  position: absolute;
  max-width: 800px;
  left: 10%;
  top: 54%;
  z-index: 20;
}

.search_tabs {
  width: min-content;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
}

.search_tab {
  flex: 1;
  border-radius: 0px;
  background-color: transparent;
  transition: all 0.2s ease;
  border-bottom: 2px solid rgba(0, 0, 0, 0.178);
}

.search_tab_active {
  color: #7065f0;
  border-bottom: 2px solid #7065f0;
}

.search_tab:hover {
  border: none;
  background: #f5f5f5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.178);
}

.search_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0px 10px 10px 10px;
  padding: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.separator {
  margin: 0px 32px 0px 32px;
  height: 34px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.322);
}

.search_field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search_field > label {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.7;
}

.search_input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search_input > input {
  border: none;
  outline: none;
  font-size: medium;
  font-weight: bold;
  width: 150px;
}

.search_button {
  background-color: #7065f0;
  color: white;
  height: 50px;
}

.search_icon {
  display: none;
  padding: 12px 12px;
  background-color: #7065f0;
  border-radius: 8px;
}

.search_icon > svg {
  color: white;
}

@media screen and (max-width: 850px) {
  .search {
    position: relative;
    max-width: 80%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    padding: 64px 0px;
  }

  .search_content {
    justify-content: space-between;
  }

  .search_content .search_field:nth-of-type(3) {
    display: none;
  }

  .search_content .separator:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .search_button {
    display: none;
  }

  .search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .separator {
    display: none;
  }
}
