.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #e0def7 0%, rgba(224, 222, 247, 0) 100%);
  padding: 0px 0px 100px 0px;
}

@media screen and (max-width: 850px) {
  .hero {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
