.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7fd;
}

.cta > span {
  color: black;
  font-weight: 500;
  opacity: 0.4;
}

.cta > span > strong {
  color: #7065f0;
}

.community {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 64px 0px;
}

.logo {
  width: 80px;
  height: 100%;
}

.logo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .community {
    width: 80%;
  }
}
