.illustration {
  width: 316px;
  height: 400px;
  padding: 40px;
  background-color: #f7f7fd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
  position: relative;
  border: 1px solid #e0def7;
}

.illustration_text {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #100a55;
}

.illustration_title {
  margin: 0;
}

.illustration_description {
  font-weight: lighter;
}

.illustration_button {
  background-color: #100a55;
  color: white;
  padding: 10px 16px;
  font-size: 0.8rem;
}

.illustration_image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 280px;
  height: 220px;
  background-image: url("/src/assets/illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

@media screen and (max-width: 1150px) {
  .illustration {
    width: 80%;
    height: fit-content;
  }
}

@media screen and (max-width: 950px) {
  .illustration_image {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 850px) {
  .illustration_image {
    width: 180px;
    height: 180px;
  }
}
