.browsemoreproperties {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.browsemoreproperties button {
  background-color: #100a55;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  min-height: 56px;
}
