.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 64px;
  width: 352px;
  background-color: #f7f7fd;
  border: 2px solid #e1e1e6;
  border-radius: 6px;
  padding: 0px 16px;
}

.searchbar > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.1rem;
  opacity: 0.7;
}
