.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 10px;
  width: 100%;
  padding: 32px 0px;
}

.copyright_details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.copyright_details > p {
  font-weight: 600;
  opacity: 0.6;
}

.copyright > .social_icons {
  display: flex;
  gap: 32px;
  opacity: 0.6;
}

.social_icons svg {
  cursor: pointer;
}

.logo {
  width: 80px;
  height: 100%;
}

.logo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 650px) {
  .copyright {
    flex-direction: column;
    gap: 24px;
  }
}
