.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px 0px;
}

.headline > h2 {
  color: #7065f0;
  margin: 0;
}

.headline > p {
  color: black;
  font-weight: 500;
  opacity: 0.4;
}

@media screen and (max-width: 600px) {
  .headline {
    text-align: center;
    width: 80%;
  }
}
