.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0px 0px 0px;
  background-color: #f7f7fd;
}

.footer_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 80px 0px;
  gap: 138px;
  background-color: white;
}

@media screen and (max-width: 950px) {
  .footer_top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 88px;
  }
}
