.headline {
  position: absolute;
  max-width: 400px;
  left: 10%;
  top: 18%;
}

.headline_subtitle {
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .headline {
    text-align: center;
    max-width: 80%;
    position: static;
    left: 0;
    padding-top: 100px;
  }
}
